<!DOCTYPE html>
<html ng-app="butandingApp">
    <head>
        <title>Oslob &bull; Butanding</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="overview &amp; stats">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <!--    font awesome   -->
        <link rel="stylesheet" type="text/css" href="assets/lib/fontawesome/css/font-awesome.min.css" />
        
        <!--    jquery  -->
        <script type="text/javascript" src="assets/lib/jquery/jquery-2.1.4.min.js"></script>
        
        <!--    bootstrap   -->
        <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap/css/bootstrap.min.css" />
        <script type="text/javascript" src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
        
        <!--    main style  -->
        <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
        
        <!--    angularjs   -->
        <script type="text/javascript" src="assets/lib/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="assets/lib/angularjs/angular-route.min.js"></script>
        <script type="text/javascript" src="assets/lib/angularjs/angular-cookies.min.js"></script>
        
        <!-- app scripts -->
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/modules/home/controller.js"></script>
        <script type="text/javascript" src="app/modules/packages/controller.js"></script>
        <script type="text/javascript" src="app/modules/process/controller.js"></script>
    </head>
    <body ng-controller="main">
        <div class="container-fluid" style="height: 100px; background-color: #fff;border-bottom: 3px solid red;z-index: 2;position: relative">
            <div class="container" style="margin-top: 50px">
                <a class="navbar-brand" href="{{baseURL}}" style="margin-top: -40px;">
                    <img src="assets/images/logo.gif" style="height: 100px;border: 1px solid #cacaca" alt="Oslob butanding" />
                </a>
                <ul class="nav nav-pills">
                    <li><a href="javascript:void(0)">Visitors</a></li>
                    <li><a href="{{baseURL + 'packages'}}">Packages</a></li>
                    <li><a href="{{baseURL + 'contact'}}">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div ng-view></div>
        <nav class="navbar navbar-default navbar-static-bottom" style="background-color: #fff;border-top: 3px solid red;">
            <div class="container">
                <div class="pull-left" style="margin-top: 15px">
                    <strong><small>Oslob &bull; Butanding</small></strong>
                </div>
                <div class="pull-right" style="margin-top: 15px">
                    <small>All Rights Reserved &copy; 2015</small>
                </div>
            </div>
        </nav>
    </body>
</html>