<div style="position: relative;height: 520px;overflow: hidden">
    <div id="home-backgrounds" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="col-md-12" style="z-index:5;position: absolute;margin-top: 50px">
            <div class="pull-left" style="color: #fff;">
                <h2 style="margin-left: 50px;">{{label}}</h2>
            </div>
            <div class="pull-right">
                <button class="btn btn-default btn-lg" style="  margin-right: 50px;margin-top: 10px;background: transparent;color: #fff;border: 1px solid #fff;border-radius: 0px;">Visit us now</button>
            </div>
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="assets/images/background/1.jpg" alt="page 1" style="width: 100%;margin-top: -30px" />
            </div>
            <div class="item">
                <img src="assets/images/background/2.jpg" alt="page 1" style="width: 100%;margin-top: -200px" />
            </div>
            <div class="item">
                <img src="assets/images/background/3.jpg" alt="page 1" style="width: 100%;margin-top: -120px" />
            </div>
        </div>
    </div>
</div>