<div class="container" style="margin-top: 50px">
    <div class="col-md-3">
        <div class="thumbnail" data-target=".fade" data-toggle="modal">
            <h1>Package 1</h1>
            <div style="border-bottom: 1px solid #cacaca"></div>
            <div class="caption">
                
                <div class="bs-callout bs-callout-info">
                    <h4>Package Info : </h4>
                   1-Day Tour 
                    <div> <i class="fa fa-circle-o"></i> Minimum Local 5(pax) | Foreign 8(pax)</div> 
                    <div><i class="fa fa-circle-o"></i> Rate <br/><strong>&emsp;&emsp;P2500/pax</strong></div>
                </div>
                <div class="bs-callout bs-callout-danger">
                    <h4>Package Feature : </h4>
                    <div><i class="fa fa-check" style="color:green;"></i> Transportation round trip from Cebu City to Oslob</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Whaleshark Watching</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Visit Tumalog Falls</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Includes Lunch</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Include Entrance Fees</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Addtional Island Hoping (if 7pax)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail" data-target=".fade" data-toggle="modal">
            <h1>Package 2</h1>
            <div style="border-bottom: 1px solid #cacaca"></div>
            <div class="caption">
                <div class="bs-callout bs-callout-info">
                    <h4>Package Info : </h4>
                    1-Day Tour + Overnight Stay 
                    <div> <i class="fa fa-circle-o"></i> Minimum Local 4(pax) | Foreign 4(pax)</div> 
                    <div><i class="fa fa-circle-o"></i> Rate <br/><strong>&emsp;&emsp;P3500/pax</strong></div>
                </div>
                <div class="bs-callout bs-callout-danger">
                    <h4>Package Feature : </h4>
                    <div><i class="fa fa-check" style="color:green;"></i> Transportation round trip from Cebu City to Oslob</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Whaleshark Watching</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Visit Tumalog Falls</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Includes Breakfast, Lunch, Dinner</div>
                    <div><i class="fa fa-check" style="color:green;"></i> 
                        Accomodation options are : <br/>
                        &emsp;&emsp;Amares Resort <br/> 
                        &emsp;&emsp;Bromini Resort <br/> 
                        &emsp;&emsp;MBS Resort <br/> 
                        &emsp;&emsp;Lighthouse Resort
                    </div>
                    <div><i class="fa fa-check" style="color:green;"></i> Include Entrance Fees</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Addtional Island Hoping (if 7pax)</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail" data-target=".fade" data-toggle="modal">
            <h1>Package 3</h1>
            <div style="border-bottom: 1px solid #cacaca"></div>
            <div class="caption">
                <div class="bs-callout bs-callout-info">
                    <h4>Package Info : </h4>
                    1-Day Tour + Overnight Stay 
                    <div> <i class="fa fa-circle-o"></i> Minimum Local 4(pax) | Foreign 4(pax)</div> 
                    <div><i class="fa fa-circle-o"></i> Rate <br/><strong>&emsp;&emsp;P6050/pax</strong></div>
                </div>
                <div class="bs-callout bs-callout-danger">
                    <h4>Package Feature : </h4>
                    <div><i class="fa fa-check" style="color:green;"></i> Transportation round trip from Cebu City to Oslob</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Whaleshark Watching</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Scuba Diving</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Includes Breakfast, Lunch, Dinner</div>
                    <div><i class="fa fa-check" style="color:green;"></i> 
                        Accomodation options are : <br/>
                        &emsp;&emsp;Amares Resort <br/> 
                        &emsp;&emsp;Bromini Resort <br/> 
                        &emsp;&emsp;MBS Resort <br/> 
                        &emsp;&emsp;Lighthouse Resort
                    </div>
                 </div>
            </div>
        </div>
    </div>
    
   <div class="col-md-3">
        <div class="thumbnail" data-target=".fade" data-toggle="modal">
            <h1>Package 4</h1>
        <div style="border-bottom: 1px solid #cacaca"></div>
            <div class="caption">
                <div class="bs-callout bs-callout-info">
                    <h4>Package Info : </h4>
                    1-Day Tour + Overnight Stay 
                    <div> <i class="fa fa-circle-o"></i> Minimum Local 4(pax) | Foreign 4(pax)</div> 
                    <div><i class="fa fa-circle-o"></i> Rate <br/><strong>&emsp;&emsp;P6000/pax</strong></div>
                </div>
                <div class="bs-callout bs-callout-danger">
                    <h4>Package Feature : </h4>
                    <div><i class="fa fa-check" style="color:green;"></i> Transportation round trip from Cebu City to Oslob</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Scuba Diving</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Visit Sumilon Island</div>
                    <div><i class="fa fa-check" style="color:green;"></i> Includes Breakfast, Lunch, Dinner</div>
                    <div><i class="fa fa-check" style="color:green;"></i> 
                        Accomodation options are : <br/>
                        &emsp;&emsp;Amares Resort <br/> 
                        &emsp;&emsp;Bromini Resort <br/> 
                        &emsp;&emsp;MBS Resort <br/> 
                        &emsp;&emsp;Lighthouse Resort
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

