<div class="container" ng-controller="butandingProces">
    <div class="row">
        <br/>
    </div>
  <div class="bs-callout bs-callout-warning">
        <div class="row">
             <div class="col-md-3">
                  <h4 style="color:black"><strong>Firstname</strong></h4>
             </div>
             <div class="col-md-9">
                <div class="input-group">
                  <input type="text" class="form-control"/>
                </div>
              </div>
       </div>
           <br/>
                <div class="row">
                    <div class="col-md-3">
                        <h4 style="color:black"><strong>Lastname</strong></h4>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" class="form-control"/>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-3">
                        <h4 style="color:black"><strong>Email</strong></h4>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="email" class="form-control"/><em>(e.g myEmail@example.com)</em>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <h4 style="color:black"><strong>Phone Number</strong><span class="pull-right">+63</span></h4>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="932-xxxx-xxx"/>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <h4 style="color:black"><strong>Location</strong></h4>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <select class="form-control">
                                <option>Philippines</option>
                            </select>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-primary btn-lg"><i class="fa fa-sign-in"></i>&nbsp;Submit</button>
                    </div>
                </div>
    </div> 
</div>   
